<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c9a8a0c8-25a8-46e0-8fc7-a143c9e337a3/resourceGroups/DNAzure_ResGrp/providers/Microsoft.ContainerRegistry/registries/DNAzureACRCase1</ResourceId>
    <ResourceName>DNAzureACRCase1</ResourceName>
    <ResourceGroup>DNAzure_ResGrp</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://dnazureacrcase1.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a295c9ad-1d18-4708-b172-dcb3e6f6dab3</ProjectGuid>
  </PropertyGroup>
</Project>